.block.relatedItems {
  width: 100%;
  display: flex;
  justify-content: center;

  .inner-container {
    width: fit-content;
  }

  &.left {
    justify-content: flex-start;
  }

  &.right {
    justify-content: flex-end;
  }

  /* To cancel duplicated border & spacings in Edit */
  &.inner & &,
  &.inner & {
    margin-bottom: 0;
  }
  &.inner & & {
    &::before {
      display: none;
    }
  }
}
